/* ----------------------------------------------------------- 

    >> footer.css  
    
    | Our default footer layout style which we used in our
    | webpage 

-------------------------------------------------------------- */

#my-footer-container {

    font-size: .85em;

    /* because of main max width content shadow effect makes 
    /* border-top line darker , so we need go over that */
    z-index: 1;

    background-color: var(--dark-black-1);
    border-top: .18em solid var(--light-brown-3);

}


/* --------------------------------------------------------------------- */
/* [My-Footer-Layout] 
/* --------------------------------------------------------------------- */

#my-footer-layout {

    padding: 0em .8em;

    display:grid;
    row-gap: 1.5em;
}





/* --------------------------------------------------------------------- */
/* [My-Footer-Header] 
/* --------------------------------------------------------------------- */


#my-footer-header-title {

    font-size: 1.5em;

    font-weight: bold;
    color: var(--light-white-1);
}

#img-my-footer-header { height: 5em; }









/* --------------------------------------------------------------------- */
/* [My-Footer-Main] 
/* --------------------------------------------------------------------- */


/* ----------------------------------------- */
/* My Footer Main Topic Container            */
/* ----------------------------------------- */

.my-footer-main-topic-container  {

    height: 2.6em;
    padding: 0em .6em;
    margin: 1.3em 0em;

    border-radius: .3em;
    background-color: var(--light-brown-3);
    font-weight: bold;
}

/* ---------------------------------------------- */
/* My Footer Main Topic Card                      */
/* ---------------------------------------------- */

.my-footer-main-topic-card  {

    max-width: 22em;

    display: grid;
    row-gap: .6em;
  
}

.my-footer-main-topic-card-title {

    font-weight: bold;
    color: var(--light-brown-3);
}



/* -------------------------------------------------- */
/* [www-links] - layout 
/* -------------------------------------------------- */

.www-link-my-footer {

    text-decoration: none;

    color: var(--dark-grey-1);
    font-weight: bold;

    display: flex;
    align-items: center;
    column-gap: .6em;

    
}


.www-link-my-footer:hover {

    transition: .3s;
    color:var(--light-brown-3);
}


/* -------------------------------------------------- */
/* [youtuber-links] - layout
/* -------------------------------------------------- */

.youtuber-link-my-footer {

    height: 2.5em;

    text-decoration: none;

    color: var(--medium-grey-1);
    font-weight: bold;

}

.img-youtuber-link-my-footer {

    width: 2.5em;
    height: 2.5em;
    border-radius: .3em 0em 0em .3em;
}

.content-youtuber-link {

    height: 100%;
    padding-left: .3em;
    background-color: var(--dark-grey-2);
    border-radius: 0em .3em .3em 0em;

}

.content-youtuber-link:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
    color: var(--dark-black-1);
}

.share-box-youtuber-link {

    height: 100%;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0em .3em .3em 0em;
}

/* default unshown black share */
.share-box-youtuber-link > img:nth-of-type(2) { display: none; }

/* if hover -> show black share */
.content-youtuber-link:hover > .share-box-youtuber-link > img:nth-of-type(2) {

    display: block;
}
/* if hover -> unshown white share */
.content-youtuber-link:hover > .share-box-youtuber-link > img:nth-of-type(1) {

    display: none;
}








/* --------------------------------------------------------------------- */
/* [My-Footer-Foot] 
/* --------------------------------------------------------------------- */
#my-footer-foot {

    margin-top: .5em;
    padding: 1em 0em;
    border-top: .15em solid var(--light-brown-3);
}


#my-footer-foot-copyright {

    font-weight: bold;
    font-style: italic;

    color:var(--light-brown-3);
}






