/* ----------------------------------------------------------- 

    >> footer.css  
    
    | Our default footer layout style which we used in our
    | webpage 

-------------------------------------------------------------- */

#my-footer-container {

    /* because of main max width content shadow effect makes 
    /* border-top line darker , so we need go over that */
    z-index: 1;

    background-color: var(--dark-black-1);
    color: var(--light-white-1);

    border-top: .18em solid var(--light-brown-3);

    

}


#my-footer-content-layout { 

    margin: 1.5em .8em;

    background-color: rebeccapurple;
}