/* ----------------------------------------------------------- 

    >> responsive.css  
    
    | Styles our different screen layout handlings
    | for our header , main and footer components

-------------------------------------------------------------- */







/* --------------------------------------------------------------------- */
/* >= 350px 
/* --------------------------------------------------------------------- */
@media ( min-width: 350px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */
    #img-header-cartoon-me { display: block; }

}





/* --------------------------------------------------------------------- */
/* >= 480px 
/* --------------------------------------------------------------------- */
@media (min-width: 480px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{
    
        width: 90vw;
        margin: 0em;
    }


    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    /* Position Elements */
    .max-width-main-nav-content-container {
    
        width: 80vw;
       
    }

    /* File Filter List Layout Page */
    .file-filter-list-layout-page {

        margin: 1.3em .8em
    }

    #main-card-layout { width: 100%; }

    /* card items list layout */
    #docs-card-items-layout-container {

        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    /* Card Layout get max-width */
    .card-layout { max-width: 23em;}


    /* Main Footer*/
    .footer-card-layout {

        /* padding: 2em .8em; */
        font-size: 1em;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        column-gap: .4em;
    
    
    }

    .trigger-resp-max-width-card-footer-quote {

        max-width: 18em;
    }
    
    .img-footer-content { height: 6.8em; }



    /* --------------------------------------------------------------------- */
    /* FOOTER
    /* --------------------------------------------------------------------- */
    
    .my-footer-content-cards-layout {

        /* Desktop Version */
       justify-content: center;

    }
    
    

}


/* --------------------------------------------------------------------- */
/* >= 640px 
/* --------------------------------------------------------------------- */

@media (min-width: 640px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

        /* Header Title Handling */
        #trigger-resp-my-header-title-box { display: block;}

        /* if header about is checked unshown title because
        /* on my about page u see my title too ( we dont want duplicate ) */
        input#radio-about-my-header-nav:checked ~ #my-header-container #trigger-resp-my-header-title-box {
            display: none;
        }
}


/* --------------------------------------------------------------------- */
/* >= 768px 
/* --------------------------------------------------------------------- */
@media (min-width: 768px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{
    
        width: 85vw;
        /* width: 28em; */
        /* margin: 0em 2.4em; */
    }



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


        /* --------------------------------------------- */
        /* Card Items Layout Container 
        /* --------------------------------------------- */
        .file-filter-list-item-container {

            flex-direction: row;

            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            column-gap: 0em;
            row-gap: 0em;
        }

        /* Arrow Down Mobile Version Unshown */
        .trigger-only-mobile-arrow-down-card-layout { display: none; }

       



}






/* --------------------------------------------------------------------- */
/* >= 860px 
/* --------------------------------------------------------------------- */
@media (min-width: 860px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */
    
    /* Header Label */
    .lbl-nav-my-header-container {

        height: 1.8em;

        width: auto;
        padding: .3em .6em; 
        
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        column-gap: .5em;
    }

    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    /* width main nav content */
    .max-width-main-nav-content-container {

        width: 33em;
    }

    /* main nav label */
    .lbl-txt-main-nav-topic {

        display: block;
    }

    /* --------------------------------------------------------------------- */
    /* FOOTER 
    /* --------------------------------------------------------------------- */
    
    /* Main Content Card Layout */
    .my-footer-main-card-layout-container { 

        justify-content: center; 
        width: 100%;
    
    }

    /* Footer Card Layout */
    .my-footer-www-card-layout,
    .my-footer-youtuber-card-layout {

        /* Desktop Version */
        min-width: 22em;
        max-width: 22em;
        /* background-color: aqua; */
    
    }

}


/* --------------------------------------------------------------------- */
/* >= 980px 
/* --------------------------------------------------------------------- */
@media (min-width: 980px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{
    
        width: 80vw;
        /* width: 28em; */
        /* margin: 0em 2.4em; */
    }



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}




/* --------------------------------------------------------------------- */
/* >= 1280px 
/* --------------------------------------------------------------------- */
@media (min-width: 1280px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{
    
        width: 75vw;
        /* margin: 0em 3.2em; */
    }



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}

/* --------------------------------------------------------------------- */
/* >= 1680px 
/* --------------------------------------------------------------------- */
@media (min-width: 1680px ) {

    /* --------------------------------------------------------------------- */
    /* HTML , BODY 
    /* --------------------------------------------------------------------- */

    html , body { font-size: 1.1rem; }

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

   
   



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    /* --------------------------------------------------------------------- */
    /* FOOTER 
    /* --------------------------------------------------------------------- */
    
    /* Footer Card Layout */
    .my-footer-www-card-layout,
    .my-footer-youtuber-card-layout {

        /* Desktop Version */
        min-width: 16em;
        max-width: 16em;
        /* background-color: aqua; */
    
    }



}

/* --------------------------------------------------------------------- */
/* >= 2250px 
/* --------------------------------------------------------------------- */
@media (min-width: 2250px ) {

 
    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{
    
        width: 50vw;
        /* margin: 0em 3.2em; */
    }
   



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}

