/* ----------------------------------------------------------- 

    >> responsive.css  
    
    | Styles our different screen layout handlings
    | for our header , main and footer components

-------------------------------------------------------------- */




/* --------------------------------------------------------------------- */
/* >= 480px 
/* --------------------------------------------------------------------- */
@media (min-width: 480px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-header-and-main-content-container {
    
        width: 90vw;
        margin: 0em;
    }


    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    /* Position Elements */
    .max-width-main-nav-content-container {
    
        width: 80vw;
       
    }

    /* File Filter List Layout Page */
    .file-filter-list-layout-page {

        margin: 1.3em .8em
    }

    /* card items list layout */
    #docs-card-items-layout-container {

        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    /* Card Layout get max-width */
    .card-layout { max-width: 23em;}

}


/* --------------------------------------------------------------------- */
/* >= 580px 
/* --------------------------------------------------------------------- */
@media (max-width: 580px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    #trigger-header-title-box { display: none; }

}

@media (min-width: 581px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER ( Handling )
    /* --------------------------------------------------------------------- */

    input#radio-my-header-nav-about:checked ~ #my-header-container #trigger-header-title-box {
        display: none;
    }
}


/* --------------------------------------------------------------------- */
/* >= 768px 
/* --------------------------------------------------------------------- */
@media (min-width: 768px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-header-and-main-content-container {
    
        width: 85vw;
        /* width: 28em; */
        /* margin: 0em 2.4em; */
    }



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


        /* --------------------------------------------- */
        /* Card Items Layout Container 
        /* --------------------------------------------- */
        .file-filter-list-item-container {

            flex-direction: row;

            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            column-gap: 0em;
            row-gap: 0em;
        }

        /* Arrow Down Mobile Version Unshown */
        .trigger-only-mobile-arrow-down-card-layout { display: none; }

       



}

/* --------------------------------------------------------------------- */
/* >= 860px 
/* --------------------------------------------------------------------- */
@media (min-width: 860px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */
    
    /* Header Label */
    .lbl-my-header-nav {

        width: auto;
        padding: .3em .6em; 
        
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        column-gap: .5em;
    }

    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    .max-width-main-nav-content-container {

        width: 33em;
    }

}


/* --------------------------------------------------------------------- */
/* >= 980px 
/* --------------------------------------------------------------------- */
@media (min-width: 980px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-header-and-main-content-container {
    
        width: 80vw;
        /* width: 28em; */
        /* margin: 0em 2.4em; */
    }



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}




/* --------------------------------------------------------------------- */
/* >= 1280px 
/* --------------------------------------------------------------------- */
@media (min-width: 1280px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-header-and-main-content-container {
    
        width: 70vw;
        /* margin: 0em 3.2em; */
    }



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}

/* --------------------------------------------------------------------- */
/* >= 1680px 
/* --------------------------------------------------------------------- */
@media (min-width: 1680px ) {

    /* --------------------------------------------------------------------- */
    /* HTML , BODY 
    /* --------------------------------------------------------------------- */

    html , body { font-size: 1.08rem; }

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

   
   



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}

/* --------------------------------------------------------------------- */
/* >= 2250px 
/* --------------------------------------------------------------------- */
@media (min-width: 2250px ) {

 
    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-header-and-main-content-container {
    
        width: 75em;
        /* margin: 0em 3.2em; */
    }
   



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}

