/* ----------------------------------------------------------- 

    >> responsive.css  
    
    | Styles our different screen layout handlings
    | for our header , main and footer components

-------------------------------------------------------------- */







/* --------------------------------------------------------------------- */
/* >= 350px 
/* --------------------------------------------------------------------- */
@media ( min-width: 350px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */
    #img-me-my-header { display: block; }

}





/* --------------------------------------------------------------------- */
/* >= 480px 
/* --------------------------------------------------------------------- */
@media (min-width: 480px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{ width: 80%;  }

    /* Header Title Font Size bigger */
    #txt-my-header-title { font-size: 1.2em; }
    
        
      
   


    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    /* Main Nav Max Width ( from main content by desktop smaller width ) */
    .max-width-main-nav-content-container {  width: 80%; }
    
       
    /* File Filter List Layout Page */
    .file-filter-list-layout-page {

        margin: 1.3em .8em
    }

    #main-card-layout { width: 100%; }

    /* card items list layout */
    #docs-card-items-layout-container {

        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    /* Card Layout get max-width */
    .info-ressource-card { max-width: 23em;}

    /* Card Layout File Item */
    .info-ressource-card-main-file-list-item { max-width: 22em; }


    /* Main Footer*/
    .footer-card-layout {

        /* padding: 2em .8em; */
        font-size: 1em;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        column-gap: .4em;
    
    
    }

    .trigger-resp-max-width-card-footer-quote {

        max-width: 18em;
    }
    
    .img-footer-content { height: 6.8em; }



    /* --------------------------------------------------------------------- */
    /* FOOTER
    /* --------------------------------------------------------------------- */
    
    .my-footer-content-cards-layout {

        /* Desktop Version */
       justify-content: center;

    }
    
    

}





/* --------------------------------------------------------------------- */
/* >= 640px 
/* --------------------------------------------------------------------- */

@media (min-width: 640px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

        /* Header Title Handling */
        #trigger-resp-my-header-title-box { display: block;}

        /* if header about is checked unshown title because
        /* on my about page u see my title too ( we dont want duplicate ) */
        input#radio-about-my-header-nav:checked ~ #my-header-container #trigger-resp-my-header-title-box {
            display: none;
        }
}





/* --------------------------------------------------------------------- */
/* >= 768px 
/* --------------------------------------------------------------------- */
@media (min-width: 768px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */


    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


        /* --------------------------------------------- */
        /* Card Items Layout Container 
        /* --------------------------------------------- */
        .file-filter-list-item-container {

            flex-direction: row;

            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            column-gap: 0em;
            row-gap: 0em;
        }

        /* Arrow Down Mobile Version Unshown */
        .trigger-only-mobile-arrow-down-card-layout { display: none; }

       



}






/* --------------------------------------------------------------------- */
/* >= 860px 
/* --------------------------------------------------------------------- */
@media (min-width: 860px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

        /* Header & Main Width Content Container */
        .max-width-content-container{ width: 75%  }

        /* Header Label */
        .lbl-nav-my-header-container {

            height: 1.8em;

            width: auto;
            padding: .3em .6em; 
            
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: space-between;

            column-gap: .5em;
        }

    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

        /* width main nav content */
        .max-width-main-nav-content-container {

            width: 38em;
        }

        /* main nav label */
        .lbl-txt-main-nav-topic {

            display: block;
        }

        /* main nav topic label img */
        .img-lbl-main-nav-topic { width: 1.8em;}


        .main-content-layout { 

            margin: 1.3em 0em 6em 0em;
    
        }

    /* --------------------------------------------------------------------- */
    /* FOOTER 
    /* --------------------------------------------------------------------- */
    
    /* Main Content Card Layout */
    .my-footer-main-card-layout-container { 

        justify-content: center; 
        width: 100%;
    
    }

    /* Footer Card Layout */
    .my-footer-www-card-layout,
    .my-footer-youtuber-card-layout {

        /* Desktop Version */
        min-width: 22em;
        max-width: 22em;
        /* background-color: aqua; */
    
    }

}





/* --------------------------------------------------------------------- */
/* >= 980px ( kann weg ? )
/* --------------------------------------------------------------------- */
@media (min-width: 980px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}






/* --------------------------------------------------------------------- */
/* >= 1280px 
/* --------------------------------------------------------------------- */
@media (min-width: 1280px ) {

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */
    
    /* Header & Main Width Content Container */
    .max-width-content-container{ width: 60%  }

    /* header height smaller */
    #my-header-container {  height: 5.3em; }

    /* change header nav label layout to row layout */
    .lbl-nav-my-header {


        /* ---------------------------- */
        /* Deskop Version               */
        /* ---------------------------- */
        padding: .3em .6em; 
    
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: .5em;

        width: 7em;
        height: 2.1em;
   
        /* ---------------------------- */
        /* Mobile Version               */
        /* ---------------------------- */
        /* width: 3.3em;
        height: 2.6em; */
    
        /* padding: .5em .8em .1em .8em; */
    
        /* line-height: 1.4em; */
/*     
        display: flex;
        flex-direction: column;
     
        align-items: center;
        justify-content: center;
     */
       
       
    }    

    /* img topic & flag header bigger */
    .img-topic-my-header { width: 1.2em; }
    .img-flag-my-header { width: 1.03em; }

    

   



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    #my-main-container {

        /* because of fixed header */
        margin-top: 5.3em;
    }

    /* get smaller main nav height */
    .main-nav-topic-container {   grid: 3.5em / 1fr 1fr 1fr 1fr 3.5em;  } 
    

       
      
    
     
    



}





/* --------------------------------------------------------------------- */
/* >= 1680px 
/* --------------------------------------------------------------------- */
@media (min-width: 1680px ) {

    /* --------------------------------------------------------------------- */
    /* HTML , BODY 
    /* --------------------------------------------------------------------- */

    html , body { font-size: 1.08rem; }

    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */

    /* Header & Main Width Content Container */
    .max-width-content-container{ width: 55em;  }
   
   



    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */

    /* --------------------------------------------------------------------- */
    /* FOOTER 
    /* --------------------------------------------------------------------- */
    
    /* Footer Card Layout */
    .my-footer-www-card-layout,
    .my-footer-youtuber-card-layout {

        /* Desktop Version */
        min-width: 16em;
        max-width: 16em;
        /* background-color: aqua; */
    
    }



}





/* --------------------------------------------------------------------- */
/* >= 2250px 
/* --------------------------------------------------------------------- */
@media (min-width: 2250px ) {

 
    /* --------------------------------------------------------------------- */
    /* HEADER 
    /* --------------------------------------------------------------------- */


    /* --------------------------------------------------------------------- */
    /* MAIN 
    /* --------------------------------------------------------------------- */


}

