/* --------------------------------------------

    >> text-styles.css 

    | Default CSS Style for all text styles 
    | which u will be often use

---------------------------------------------- */



/* ---------------------------------------------------------------------------------------------- */
/* [1/2] - Text Orientation & Text Styles  
/* ---------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------- */
/* Text Bold , Italic  
/* ---------------------------------------------------- */

.txt-i { font-style: italic; }
.txt-b { font-weight: bold; }
.txt-u { text-decoration: underline; }

/* ---------------------------------------------------- */
/* Line Height 
/* ---------------------------------------------------- */

.line-h-1em { line-height: 1em; }
.line-h-1-1em { line-height: 1.1em; }
.line-h-1-2em { line-height: 1.2em; }
.line-h-1-3em { line-height: 1.3em; }
.line-h-1-4em { line-height: 1.4em; }
.line-h-1-5em { line-height: 1.5em; }

.line-h-1-6em { line-height: 1.6em; }
.line-h-1-7em { line-height: 1.7em; }

/* ---------------------------------------------------- */
/* Text Color Marker 
/* ---------------------------------------------------- */

.txt-marker-light-brown { color: var(--light-brown-3); }
.txt-bold-marker-light-brown { font-weight:bold; color: var(--light-brown-3); }


/* ---------------------------------------------------- */
/* Text Orientation ( left side , bock quote , ... )
/* ---------------------------------------------------- */

.txt-a-c { text-align: center; }
.txt-a-r { text-align: right; }


/* ---------------------------------------------------- */
/* Quotes 
/* ---------------------------------------------------- */

.txt-qoute { font-style: italic; }

.txt-quote-light-brown-3 { 
    font-style: italic;
    color: var(--light-brown-3); 
}



/* ---------------------------------------------------- */
/* Status - in progress , in planning 
/* ---------------------------------------------------- */

.in-progress-style {

    padding: .3em .3em;

    border-radius: .2em;

    background-color: var(--medium-red-3);
    color: var(--dark-black-1);
    font-weight: bold;

}


