/* --------------------------------------------

    >> element-styles.css 

    | Default CSS Elements Layouts which will be
    | often used 

---------------------------------------------- */




/* ---------------------------------------------------------- */
/* [1/?] - Opacity
/* ---------------------------------------------------------- */

.opacity-0-8 { opacity: .8; }
.opacity-0-6 { opacity: .6; }
.opacity-0-4 { opacity: .4; }
.opacity-0-2 { opacity: .2; }



/* ------------------------------------------------------ */
/* [2/?] - Box Shadows 
/* ------------------------------------------------------ */

.box-shadow-max-main-width-content-container { 
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    /* box-shadow: 0px 1px 12px 5px #000000; */
    
}

/* ------------------------------------------------------ */
/* [3/?] - IMG Filter Shadows 
/* ------------------------------------------------------ */

.img-shadow-filter-light-grey {
    filter: drop-shadow(1px .5px 1px rgba(122, 122, 122, 0.9));    
}




/* ---------------------------------------------------------- */
/* [4/?] - Trime Line Height Content Container 
/* ---------------------------------------------------------- */

.trim-height-0-2em-light-brown-3-line {
   
    height: .2em;
    background-color: var(--light-brown-3);

}

/* ---------------------------------------------------------- */
/* [5/?] - Border Line Colors 
/* ---------------------------------------------------------- */

.border-b-0-25em-light-brown-3 { 

    border-bottom: .25em solid var(--light-brown-3);
}



/* --------------------------------------------- */
/* [6/?] - Rotation 
/* --------------------------------------------- */

.rotate-180 { transform: rotate(180deg); }
.rotate-90 { transform: rotate(90deg); }



/* --------------------------------------------- */
/* [7/?] - Float Handling
/* --------------------------------------------- */

.clear-both { clear: both; }


