/* ----------------------------------------------------------- 

    >> main-about.css  
    
    | Styles our default About Welcome Page

-------------------------------------------------------------- */





.start-header {

    display: grid;
    grid: auto / 1.3fr 1fr;
    
    align-items: flex-start;
    justify-items: flex-start;
    column-gap: 1.3em;
}




 .img-about-germany-flag {

    width: 1.5em;

    border-radius: .11em;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 }

 .img-about-tech {

    width: .8em;

   
 }

 .about-tech-box {

    border-radius: .11em;

    padding: .1em .3em;

    height: 1em;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .3em;

    background-color: var(--light-brown-3);
 }



 #about-img-more {

    margin-top: 3em;

    display: grid;
    grid: auto / 1fr 1fr;

 }

 #about-info-more {

    /* background-color: red; */
 }

 #about-img-container {

    /* background-color: green; */
 }

 #img-about-round {

    width: 75%;
 }

 #img-about-me {

   

    /* height: 22.1em; */
    width: 80%;
    
    background-color: var(--dark-grey-5);

    border-radius: .8em;

    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
                rgba(217, 191, 152, .2) 0px 0px 0px 2px;
 }


/* -------------------------------------------------------- */
/* Default About Container  
/* -------------------------------------------------------- */

#about-container {

   width: 100%;
   
   padding: 1.3em 2em;

   color: var(--light-white-2);
   /* background-color: var(--dark-grey-3); */
   background-color: var(--dark-black-1);

}


/* -------------------------------------------------------- */
/* Welcome Container  
/* -------------------------------------------------------- */

#about-welcome-container {

   display: grid;
   row-gap: 1.3em;
}


/* ### ---------------- ### */
/* ### Welcome Info Box ### */
/* ### ---------------- ### */
.about-welcome-info-box {

   display: inline-grid;
   row-gap: .8em;

   /* padding: .8em 1.3em; */
   /* background-color: var(--dark-black-1); */
   /* background-color: red; */

   border-radius: .8em;
   
}

/* ### ---------------- ### */
/* ### Title Area       ### */
/* ### ---------------- ### */
#about-welcome-info-box-title-area {

   font-weight: bold;
   display: grid;
   row-gap: .1em;
}

#txt-about-welcome { 

   color: var(--medium-grey-3);
   font-size: 1.3em;
   /* letter-spacing: -1.5px; */
}

#txt-about-superfreshdev {
   
   font-size: 1.5em;
 
}

#txt-about-world { color:var(--light-brown-3); }

   


/* ### Sub Title Area  ### */
#about-welcome-info-box-sub-title-area {

   display: grid;
   /* row-gap: .1em; */
}

#img-about-me { width: 11em; }

  


/* ### Sub Tech Title Area  ### */
#about-welcome-info-box-sub-title-area-tech-box {

   border-top: 1px solid gray;
   padding-top: .8em;

   display: grid;
   row-gap: .1em;
   opacity: .7;
   
}

/* -------------------------------------------- */
/* IMG Me Container 
/* -------------------------------------------- */

#about-welcome-info-box-img-me-container {

   display: flex;
   justify-content: space-evenly;
   align-items: center;

}



/* -------------------------------------------- */
/* E-Mail & Read More About Me Container 
/* -------------------------------------------- */

#link-email-to-about {

   text-decoration: none;
   color: var(--light-white-2);

  
   padding: .6em;

   font-size: 1.1em;

   

   /* color: var(--medium-grey-3);
   background-color: var(--dark-black-1);

   border-radius: .3em;

   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
               rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
               rgba(245, 245, 245, 0.1) 0px 0px 0px 1px inset; */

               color: var(--dark-black-1);
    background-color: var(--dark-grey-1);

    border-radius: .3em;
    font-weight: bold;


    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .3em;
}

#link-email-to-about:visited { color: var(--light-white-2); }




#link-read-more-about {

   display: grid;
   /* row-gap: .3em; */
   justify-items: center;

   padding: .8em 0em 0em 0em;

   font-size: 1.1em;


   font-weight: bold;
   
   color: var(--dark-black-1);
   background-color: var(--light-brown-3);

   border-radius: .3em;

   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
               rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
               rgba(245, 245, 245, 0.1) 0px 0px 0px 1px inset;

               
}


.run-box {

   height: 2.2em;
   width: 2em;
   /* background-color: black; */

   display: flex;
   justify-content: center;
   align-items: center;
}



#txt-about-job-title {

   padding-top: .8em;
   /* font-size: 1.3em; */

   display: grid;
   row-gap: .3em;

}






/* ### Img Me ### */


/* ### E-Mail & Read more about me ### */








/* -------------------------------------------------------- */
/* Me Big Img Container  
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
/* E-Mail & More About Me Container  
/* -------------------------------------------------------- */