/* ----------------------------------------------------------- 

    >> bg-colors.css  
    
    | Our list of all bg color mixes

-------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------- */
/* Background Color Mixes 
/* --------------------------------------------------------------------------------------- */


.bg-color-mix-about {

    /* background-color: #4158D0;
    background-image: 
    linear-gradient(304deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

    /* background-color: #F4D03F;
    background-image: linear-gradient(315deg, #F4D03F 0%, #16A085 100%); */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% ); */
    /* background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgb(151, 151, 151) 74.6% ); */
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );

}

.bg-color-mix-test {


}


/* --------------------------------------------------------------------------------------- */
/* Background Colors  
/* --------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------ */
/* Medium | Colors  
/* ------------------------------------------------------------------------ */

    /* ----------------------------------------------------------- */
    /* Medium | Yellow 
    /* ----------------------------------------------------------- */

    .bg-medium-yellow-3 { background-color: var(--medium-yellow-3); }

/* ------------------------------------------------------------------------ */
/* Dark | Colors 
/* ------------------------------------------------------------------------ */


    /* ----------------------------------------------------------- */
    /* Dark | Yellow 
    /* ----------------------------------------------------------- */

    .bg-dark-yellow-1 { background-color: var(--dark-yellow-1);}
    .bg-dark-yellow-4 { background-color: var(--dark-yellow-4);}


    /* ----------------------------------------------------------- */
    /* Dark | Red 
    /* ----------------------------------------------------------- */

    .bg-dark-red-4 { background-color: var(--dark-red-4); }

    /* ----------------------------------------------------------- */
    /* Dark | Grey 
    /* ----------------------------------------------------------- */

    .bg-dark-grey-1 { background-color: var(--dark-grey-1); }
    .bg-dark-grey-2 { background-color: var(--dark-grey-2); }
    .bg-dark-grey-3 { background-color: var(--dark-grey-3); }