/* ----------------------------------------------------------- 

    >> colors.css  
    
    | Our default colors which will be only used on our 
    | Webpage , we have light , medium and dark colors  

-------------------------------------------------------------- */


:root { 

    /* --------------------------------------------------------------------------------- */
    /* [0] - Default Strong Colors 
    /* --------------------------------------------------------------------------------- */

    --red: red;
    --blue: blue;
    --green: green;
    --yellow: yellow;

    --black: black;
    --white: white;
    --grey: grey;

    --orange: orange;
    --violet: violet;
    --pink: pink;
    --brown: brown;

    
    /* --------------------------------------------------------------------------------- */
    /* [1/3] - Light Colors 
    /* --------------------------------------------------------------------------------- */

        /* ------------------------------------------- */
        /* Light | White 
        /* ------------------------------------------- */
        --light-white-1: #e9e9e9;
        --light-white-2: #e4e4e4;

        /* ------------------------------------------- */
        /* Light | Grey 
        /* ------------------------------------------- */
        --light-grey-1: #F4F6F7;
        --light-grey-2: #F0F3F4;
        --light-grey-3: #ECF0F1;

        /* ------------------------------------------- */
        /* Light | Brown 
        /* ------------------------------------------- */
        --light-brown-1: #d1c0a5;
        --light-brown-2:  #d1b78e;
        --light-brown-3: #d9bf98;

        /* ------------------------------------------- */
        /* Light | Red 
        /* ------------------------------------------- */
        --light-red-1: #F5B7B1;
        --light-red-2: #F1948A;
        --light-red-3: #CD6155;

        /* ------------------------------------------- */
        /* Light | Yellow 
        /* ------------------------------------------- */




    /* --------------------------------------------------------------------------------- */
    /* [2/3] - Medium Colors 
    /* --------------------------------------------------------------------------------- */

        /* ------------------------------------------- */
        /* Medium | Grey 
        /* ------------------------------------------- */
        --medium-grey-1: #D0D3D4;
        --medium-grey-2: #B3B6B7;
        --medium-grey-3: #979A9A;

        /* ------------------------------------------- */
        /* Medium | Red 
        /* ------------------------------------------- */
        --medium-red-3: #e33a3a;

        /* ------------------------------------------- */
        /* Medium | Blue 
        /* ------------------------------------------- */
        --medium-blue-3: #3178c6;

        /* ------------------------------------------- */
        /* Medium | Orange 
        /* ------------------------------------------- */
        --medium-orange-3: #e05c43;

        /* ------------------------------------------- */
        /* Medium | Yellow 
        /* ------------------------------------------- */
        --medium-yellow-3: rgb(215, 215, 0);;





        
    /* --------------------------------------------------------------------------------- */
    /* [3/3] - Dark Colors 
    /* --------------------------------------------------------------------------------- */

        /* ------------------------------ */
        /* Dark | Grey 
        /* ------------------------------ */
        --dark-grey-1: #7B7D7D ;
        --dark-grey-2: #626567;
        --dark-grey-3: #424949;
        --dark-grey-4: #424242;
        --dark-grey-5: #333333;

        /* ------------------------------ */
        /* Dark | Black 
        /* ------------------------------- */
        --dark-black-1: #212121;

        /* ------------------------------------------- */
        /* Dark | Red 
        /* ------------------------------------------- */

        /* ------------------------------------------- */
        /* Dark | Yellow 
        /* ------------------------------------------- */

        
}




