/* ----------------------------------------------------------------------------- 

    >> main-docs-handlings.css  
    
    | Define all css radio / checkbox / hover / unshown / show
    | handlings which we only need in our main docs card

-------------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------- */
/* [Unshown Radio & Checkbox] - MAIN NAV & MAIN NAV Audio 
/* ------------------------------------------------------------------------- */

input#radio-m-n-t-docs-web-app-dev , 
input#radio-m-n-t-docs-data-science ,
input#radio-m-n-t-docs-backend-co ,
input#radio-m-n-t-docs-tech-tools ,
input#chk-mp3-docs { 
    
    display: none;

}


/* ---------------------------------------------------------------------------------------------------- */
/* [Checked | Handling & Styling] - MAIN NAV Label & MAIN NAV Audio Label
/* ---------------------------------------------------------------------------------------------------- */

/* [Part 1/2] - if checked unshown white img / unshown audio play img */
input#radio-m-n-t-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-web-app-dev > img:nth-of-type(1), 
input#radio-m-n-t-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-data-science > img:nth-of-type(1),
input#radio-m-n-t-docs-backend-co:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-backend-co > img:nth-of-type(1),
input#radio-m-n-t-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-tech-tools > img:nth-of-type(1),
input#chk-mp3-docs:checked ~ #my-main-container #js-lbl-mp3-docs > img:nth-of-type(1) {

    display: none;
}

/* [Part 2/2] - if checked show black img / show pause audio img */
input#radio-m-n-t-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-web-app-dev > img:nth-of-type(2), 
input#radio-m-n-t-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-data-science > img:nth-of-type(2),
input#radio-m-n-t-docs-backend-co:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-backend-co > img:nth-of-type(2),
input#radio-m-n-t-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-tech-tools > img:nth-of-type(2),
input#chk-mp3-docs:checked ~ #my-main-container #js-lbl-mp3-docs > img:nth-of-type(2) {

    display: block;
}

/* if checked show black text if is in desktop version */
input#radio-m-n-t-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-web-app-dev > .lbl-txt-main-nav-topic , 
input#radio-m-n-t-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-data-science > .lbl-txt-main-nav-topic,
input#radio-m-n-t-docs-backend-co:checked ~ #my-main-container  #trigger-lbl-radio-m-n-t-docs-backend-co > .lbl-txt-main-nav-topic,
input#radio-m-n-t-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-tech-tools > .lbl-txt-main-nav-topic {

    color: var(--dark-black-1);

}

/* if checked one of 4 main nav radio docs */
input#radio-m-n-t-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-web-app-dev, 
input#radio-m-n-t-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-data-science ,
input#radio-m-n-t-docs-backend-co:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-backend-co ,
input#radio-m-n-t-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-m-n-t-docs-tech-tools {

    background-color: var(--light-brown-3);
}


/* if checked audio of docs then be red for is playing */
input#chk-mp3-docs:checked ~ #my-main-container #js-lbl-mp3-docs {

    background-color: var(--medium-red-3);
}

















/* Default all filter container unshown */
#trigger-nav-topic-filter-docs-web-app-dev ,
#trigger-nav-topic-filter-docs-data-science , 
#trigger-nav-topic-filter-docs-tech-tools {

    display: none;
}

/* Default unshow all filter content container  */
[id^="trigger-file-filter-list-container"] {

    display: none;
}


/* if checked than show the right filter container */
input#radio-m-n-t-docs-web-app-dev:checked ~ #my-main-container #trigger-nav-topic-filter-docs-web-app-dev ,
input#radio-m-n-t-docs-data-science:checked ~ #my-main-container #trigger-nav-topic-filter-docs-data-science,
input#radio-m-n-t-docs-tech-tools:checked ~ #my-main-container #trigger-nav-topic-filter-docs-tech-tools {

    display: grid;
}
















































/* -------------------------------------------------------------------------------------------------------------------------------- */
/* [Checked/Unchecked] - Main Nav Topics Filter - Styling ( many filter items  )
/* -------------------------------------------------------------------------------------------------------------------------------- */

/* default unshown all docs radio topic filters */
input[id^="radio-m-n-t-filter-docs"] {

    display: none;
}

/* default unshown file filter item container only by checked radio filter */
[id^="trigger-file-filter-list-item-container-docs"] {

    display: none;
}

/* if checked than showthe right filter content container */
input#radio-m-n-t-docs-web-app-dev:checked ~ #my-main-container #trigger-file-filter-list-container-web-app-dev ,
input#radio-m-n-t-docs-data-science:checked ~ #my-main-container #trigger-file-filter-list-container-data-science ,
input#radio-m-n-t-docs-backend-co:checked ~ #my-main-container #trigger-file-filter-list-container-backend-co ,
input#radio-m-n-t-docs-tech-tools:checked ~ #my-main-container #trigger-file-filter-list-container-tech-tools {

    display: block;
}



/* --------------------------------------------------------------------------------------------------------------- */
/* [Styling] - Topic Filter - Web App Entwicklung                                                                              */
/* --------------------------------------------------------------------------------------------------------------- */
input#radio-m-n-t-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-web-frameworks ,
input#radio-m-n-t-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-programming ,
input#radio-m-n-t-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-html-css ,
input#radio-m-n-t-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-cms {

    background-color: var(--light-brown-3);
    border: 1px solid var(--light-brown-3);
    color: var(--dark-black-1);
}

input#radio-m-n-t-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-web-frameworks > .my-own-circle-outside ,
input#radio-m-n-t-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-programming > .my-own-circle-outside,
input#radio-m-n-t-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-html-css > .my-own-circle-outside,
input#radio-m-n-t-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-cms > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);
}

input#radio-m-n-t-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-web-frameworks > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-programming > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-html-css > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-cms > .my-own-circle-outside > .my-own-set-point {

    display: block;
}

/*-------------------------------------------------------------------------------------------------------- */
/* [Handling] - Topic Filter ( web-framework,s , programmierung , html-css , cms )
/*-------------------------------------------------------------------------------------------------------- */

input#radio-m-n-t-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-web-app-dev-web-frameworks,
input#radio-m-n-t-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-web-app-dev-programming,
input#radio-m-n-t-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-web-app-dev-html-css,
input#radio-m-n-t-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-web-app-dev-cms {

    display: flex;
}






/* --------------------------------------------------------------------------------------------------------------- */
/* [Styling] - Topic Filter - Data Science                                                                                            */
/* --------------------------------------------------------------------------------------------------------------- */
input#radio-m-n-t-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-data-science-tools ,
input#radio-m-n-t-filter-docs-ds-math:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-math ,
input#radio-m-n-t-filter-docs-ds-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-programming ,
input#radio-m-n-t-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-ml-ki {

    background-color: var(--light-brown-3);
    border: 1px solid var(--light-brown-3);
    color: var(--dark-black-1);
}

input#radio-m-n-t-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-data-science-tools > .my-own-circle-outside ,
input#radio-m-n-t-filter-docs-ds-math:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-math > .my-own-circle-outside,
input#radio-m-n-t-filter-docs-ds-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-programming > .my-own-circle-outside,
input#radio-m-n-t-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-ml-ki > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);
}

input#radio-m-n-t-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-data-science-tools > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-ds-math:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-math > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-ds-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-programming> .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-ml-ki > .my-own-circle-outside > .my-own-set-point {

    display: block;
}


/*-------------------------------------------------------------------------------------------------------- */
/* [Handling] - Topic Filter ( ds-tools, math , ...  )
/*-------------------------------------------------------------------------------------------------------- */

input#radio-m-n-t-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-ds-data-science-tools,
input#radio-m-n-t-filter-docs-ds-math:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-ds-math,
input#radio-m-n-t-filter-docs-ds-programming:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-ds-programming,
input#radio-m-n-t-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-ds-ml-ki {

    display: flex;
}


/* -------------------------------------------------------- */
/* [Styling] - Topic - Backend & Co                                     */
/* -------------------------------------------------------- */

/* dont need */

/* -------------------------------------------------------- */
/* [Styling] - Topic Filter - Tech Tools                                       */
/* -------------------------------------------------------- */
input#radio-m-n-t-filter-docs-tt-dev:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-dev ,
input#radio-m-n-t-filter-docs-tt-office:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-office ,
input#radio-m-n-t-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-multimedia  {

    background-color: var(--light-brown-3);
    border: 1px solid var(--light-brown-3);
    color: var(--dark-black-1);
}

input#radio-m-n-t-filter-docs-tt-dev:checked  ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-dev > .my-own-circle-outside ,
input#radio-m-n-t-filter-docs-tt-office:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-office > .my-own-circle-outside,
input#radio-m-n-t-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-multimedia > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);
}

input#radio-m-n-t-filter-docs-tt-dev:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-dev > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-tt-office:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-office > .my-own-circle-outside > .my-own-set-point ,
input#radio-m-n-t-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-multimedia > .my-own-circle-outside > .my-own-set-point {

    display: block;
}


/*-------------------------------------------------------------------------------------------------------- */
/* [Handling] - Topic Filter ( development , office , multimedia )
/*-------------------------------------------------------------------------------------------------------- */

input#radio-m-n-t-filter-docs-tt-dev:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-tt-dev ,
input#radio-m-n-t-filter-docs-tt-office:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-tt-office ,
input#radio-m-n-t-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-file-filter-list-item-container-docs-tt-multimedia {

    display: flex;
}



/* ------------------------------------------------------- */
/* [Styling] - Gimp Radio - Tech Tools 
/* ------------------------------------------------------- */

/* default unshown radio */
input#radio-my-main-container-docs-gimp-yt-gui ,
input#radio-my-main-container-docs-gimp-yt-practice {

    display: none;

}


/* if checked -> set checked styling */
input#radio-my-main-container-docs-gimp-yt-gui:checked ~ #my-main-container #trigger-lbl-radio-my-main-container-docs-gimp-yt-gui ,
input#radio-my-main-container-docs-gimp-yt-practice:checked ~ #my-main-container #trigger-lbl-radio-my-main-container-docs-gimp-yt-practice {

    background-color: var(--light-brown-3);
    color:var(--dark-black-1);
    border: 1px solid var(--light-brown-3);

}

/* if checked -> change circle border color */
input#radio-my-main-container-docs-gimp-yt-gui:checked ~ #my-main-container #trigger-lbl-radio-my-main-container-docs-gimp-yt-gui > .my-own-circle-outside ,
input#radio-my-main-container-docs-gimp-yt-practice:checked ~ #my-main-container #trigger-lbl-radio-my-main-container-docs-gimp-yt-practice > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);

}

/* if checked -> set point in circle radio */
input#radio-my-main-container-docs-gimp-yt-gui:checked ~ #my-main-container #trigger-lbl-radio-my-main-container-docs-gimp-yt-gui > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-container-docs-gimp-yt-practice:checked ~ #my-main-container #trigger-lbl-radio-my-main-container-docs-gimp-yt-practice > .my-own-circle-outside > .my-own-set-point {

    display: block;

}


/* ------------------------------------------------------- */
/* [Handling] - Gimp Radio - Tech Tools 
/* ------------------------------------------------------- */

/* default unshown */
#trigger-my-main-container-docs-gimp-yt-gui-links-container ,
#trigger-my-main-container-docs-gimp-yt-practice-links-container { 

    display: none;
}


/* if radio checked show correct list container */
input#radio-my-main-container-docs-gimp-yt-gui:checked ~ #my-main-container #trigger-my-main-container-docs-gimp-yt-gui-links-container ,
input#radio-my-main-container-docs-gimp-yt-practice:checked ~ #my-main-container #trigger-my-main-container-docs-gimp-yt-practice-links-container {

    display: grid;

}

