/* --------------------------------------------

    >> pos-element-styles.css 

    | Width Content Container which represent 
    | same growing handlings 
    | like header width & content width
    | & nav width



---------------------------------------------- */


/* ----------------------------------------------------------------------------- */
/* Width Content Container 
/* ----------------------------------------------------------------------------- */

/* Header & Main Width Content */
.max-width-header-and-main-content-container {

    /* background-color: gray; */
   
    width: 100%;
    /* width: 65em; */
    margin: 0 .8em;

}

/* Main Nav Width Content */
.max-width-main-nav-content-container {

    /* background-color: green; */
    background-color: var(--dark-black-1);
    width: 100%;
    /* margin: 0 1.6em; */
    /* width: 35em; */

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}





