/* --------------------------------------------

    >> pos-element-styles.css 

    | Width Content Container which represent 
    | same growing handlings 
    | like header width & content width
    | & nav width



---------------------------------------------- */


/* ----------------------------------------------------------------------------- */
/* Width Content Container 
/* ----------------------------------------------------------------------------- */

/* Max Width - Content Container */
.max-width-content-container {

    /* background-color: gray; */
    /* width: 65em; */
    width: 90%; 
    margin: 0 0em;

}


/* Max Width - Main Nav Content  Container */
.max-width-main-nav-content-container {

    /* background-color: green; */
    width: 90%;
    /* margin: 0 1.6em; */
    /* width: 35em; */
    /* margin: 0 1.3em; */
    /* padding: 0em .8em; */

    /* Desktop Version u will see it */
    /* border-top-left-radius: .3em;
    border-top-right-radius: .3em; */

}





