/* ----------------------------------------------------------- 

    >> main.css  
    
    | Our default main layout style which we used in our
    | webpage 

-------------------------------------------------------------- */

#my-main-container {

    /* because of fixed header */
    margin-top: 4.5em;

    /* is our parent position to anker backgrounds e.g imgs , videos , ... */
    position: relative;
    top:0;

    /* background-color: yellow; */

  
}

/* ---------------------------------------------------------------------------------- */
/* Card Container & Background color , img , video 
/* ---------------------------------------------------------------------------------- */

.main-card-container {

    /* important to anker absolute layout in #main-mmain-container*/
    position: relative;
    top:0;

    /* strech max height */
    /* height: 100%; */
}

.pos-bg-main-card {

    z-index: -1;
    
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;   

}


/* ---------------------------------------------------------------------------------- */
/* Main Max Width Content Container | Dokus , Projects , About
/* ---------------------------------------------------------------------------------- */


.main-max-width-content-container {

    /* Desktop Version 1.3em .8em */
    margin: 1.3em 0em;
    /* background-color: red; */

}




/* ---------------------------------------------------------------------------------- */
/* [1/2] - Main Nav Topic Filter Container 
/* ---------------------------------------------------------------------------------- */

.main-nav-topic-container {

    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 3.5em;

    border-bottom: .25em solid var(--light-brown-3);

}

.main-nav-topic-container > label:nth-of-type(1) ,
.main-nav-topic-container > label:nth-of-type(2) ,
.main-nav-topic-container > label:nth-of-type(3) ,
.main-nav-topic-container > label:nth-of-type(4) {

    border-right: .1em solid var(--medium-grey-3); 
}

.main-nav-topic-container > label:nth-of-type(1) { border-top-left-radius: 1em; } 
.main-nav-topic-container > label:nth-of-type(5) { border-top-right-radius: 1em; }



/* ----------------------------------------------- */
/* Label & Audio - Main Nav Topic Filter 
/* ----------------------------------------------- */
    
.lbl-main-nav-topic-filter, 
.lbl-main-nav-topic-filter-audio {

    padding: .8em;

    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: .3em;

    cursor: pointer;
}

.lbl-main-nav-topic-filter-audio { 

    background-color: var(--medium-grey-2);

    /* Size for Filter Audio */
    /* width: 2em; */

}

.lbl-main-nav-topic-filter:hover,
.lbl-main-nav-topic-filter-audio:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
}

.img-lbl-main-nav-topic-filter,
.img-lbl-main-nav-topic-filter-audio { width: 1.6em; }


.txt-box-main-nav-topic-filter {

    /* default in mobile version unshown */
    display: none;

    line-height: 1.2em;
    font-weight: bold;

}


/* default unshown 2nd img of main nav topic filter | docs , projects */
.lbl-main-nav-topic-filter > img:nth-of-type(2) { display: none;}


/* default hover style by hover unshown first img show second img ( white - black solution ) */
.lbl-main-nav-topic-filter:hover > img:nth-of-type(1) { display: none; } 
.lbl-main-nav-topic-filter:hover > img:nth-of-type(2) { display: block } 






/* ---------------------------------------------------------------------------------- */
/* [2/2] - Main Nav Topic Filter Container 
/* ---------------------------------------------------------------------------------- */

.main-nav-topic-filter-container {

    display: grid;
    grid: auto / 1fr 3.5em;
   
}


/* Main Nav Topic Filter Radio Item Container  */
.main-nav-topic-filter-radio-item-container {

    padding: 1em .6em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    column-gap: .5em;
    row-gap: .5em;

}


/* ---------------------------------------------------- */
/* Label - Filter Item  
/* ---------------------------------------------------- */


.lbl-main-nav-topic-filter-item  {

    color: var(--dark-grey-1);
    font-weight: bold;

    /* Same Mobile Size like header nav */
    font-size: .85em;

    padding: .3em .6em;

    border-radius: .3em;
    border: 1px solid var(--dark-grey-1);

    display: flex;
    align-items: center;
    column-gap: .5em;

    cursor: pointer;

    /* max-width: 9em; */
   
}

.lbl-main-nav-topic-filter-item:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
    color:var(--dark-black-1);
    border: 1px solid var(--light-brown-3);
}

.lbl-main-nav-topic-filter-item:hover > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);

}

/* ---------------------------------------------------- */
/* My Own Radio Box Style 
/* ---------------------------------------------------- */

.my-own-circle-outside {

    position: relative;
    top:0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    /* important because if sometimes screen get smaller 
    /* some elment get smaller */
    min-width: .8em;
    min-height: .8em;

    max-width: .8em;
    max-height: .8em;

    border: .13em solid var(--dark-grey-1);

}

.my-own-set-point {

    /* default unshown for unset */
    display: none;

    border-radius: 50%;

    min-width: .4em;
    min-height: .4em;

    max-width: .4em;
    max-height: .4em;

    background-color: var(--dark-black-1);

}



/* ---------------------------------------------------- */
/* Label Drop Down Item 
/* ---------------------------------------------------- */

.lbl-drop-down-main-nav-topic-filter {

    /* width: 2em; */
    background-color: var(--medium-grey-3);

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: .1em solid var(--medium-grey-3);

    cursor: pointer;
}

.lbl-drop-down-main-nav-topic-filter:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
}

.img-drop-down-main-nav-topic-filter { width: 1.5em; }



/* ---------------------------------------------------- */
/* Info Filter Items Count
/* ---------------------------------------------------- */

.main-nav-topic-filter-item-count-box {

    /* Same Mobile Size like header nav */
    font-size: .85em;
    font-weight: bold;

    padding: .3em .6em;
    border-radius: .3em;
    background-color: var(--medium-grey-3);
  
}





/* ---------------------------------------------------- */
/* File Filter List Container 
/* ---------------------------------------------------- */


.file-filter-list-container {

    font-size: .85em;

    color: var(--medium-grey-3);
    background-color: var(--dark-black-1);

    /* background-color: red; */

    /* Default Mobile Version */
    padding: 2em .6em 0em .6em;
    
}


.file-filter-list-item-container {

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    justify-content: space-evenly;

    column-gap: 1.3em;
    /* Only for Desktop View */
    /* row-gap: 3.8em; */


    padding-bottom: 2em;

    /* background-color: green; */

}




/* ---------------------------------------------------------------------------------------- */
/* Card Layout  
/* ---------------------------------------------------------------------------------------- */

.arrow-trim-card-container {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: .8em 0em;

    /* background-color: red; */

}

.img-arrow-trim-card { width: 1em; }


.card-layout {

    border-radius: .3em;
    /* border: 1px solid var(--dark-grey-1); */
    /* padding: .6em; */

    /* background-color: red; */

    margin: .8em;
    box-shadow: rgba(0, 0, 0, .8) 0px 4px 12px;

        
}

.card-layout:hover {

    transition: .3s;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(80, 80, 80, 0.8) 0px 4px 12px;
    
}

/* ----------------------------------------- */
/* Card Header 
/* ----------------------------------------- */
.card-layout-header {

    border-radius: .3em .3em 0em 0em;

    height: 2.8em;

    background-color: var(--dark-grey-3);

    padding: 0em .8em 0em .8em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-layout-header-number-layout {

    background-color: var(--light-brown-3);
    font-weight: bold;
    color: var(--dark-black-1);

    border-radius: .3em;

    padding: 0em .8em;

    /* height: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;

}

.card-layout-header-storage-layout {

    display: flex;
    align-items: center;
    column-gap: .3em;

    padding: 0em .6em;

    font-weight: bold;

}

.img-card-layout-header { width: 1em; }



/* ----------------------------------------------------------------------------- */
/* Card Main 
/* ----------------------------------------------------------------------------- */

/* title */
.card-layout-main-title-container {

    padding: .8em .8em 0em .8em;

    font-size: 1.1em;

    font-weight: bold;
    color:var(--light-white-1);

}

/* main content */
.card-layout-main-content-container {

    padding: .8em .8em 0em .8em;

}



.img-float-card-layout-main-content-container { 
    
    /* orientation of font-size 1.1em */
    height: 9.3em;

    float: left;
    margin-right: .8em;
    margin-bottom: .5em;
    border-radius: .3em;
    box-shadow: rgb(255 0 0) 0px 0.7px 1px 0px, rgb(0 118 235) 0px 0px 0px 1px;

}

.img-max-width-card-layout-main-content-container {

    height: 7.5em;
    width: 100%;
    border-radius: .3em;
    box-shadow: rgb(255 0 0) 0px 0.7px 1px 0px, rgb(0 118 235) 0px 0px 0px 1px;
}

/* only by e.g projects */
.card-layout-main-content-max-width-hash-tag-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: .4em;

    padding: .5em 0em;

}

.docs-hash-tags ,
.docs-hash-tags-float {

    display: inline-block;

    padding: 0em .6em;
    font-style: italic;
    border-radius: .3em;
    border: 1px solid var(--dark-grey-3);
    color: var(--dark-grey-2);
   
}

.docs-hash-tags-float {

    margin-bottom: .6em;
    margin-right: .1em;

}

.card-layout-main-content-button-panel {

    /* clear float: left of img to have correct position handling */
    clear: both;

    padding: 1em 0em 1em 0em;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: .6em;
}


/* ----------------------------------------- */
/* Button Styling 
/* ----------------------------------------- */

.btn-file-link {

    text-decoration: none;

    color: var(--dark-black-1);
    background-color: var(--dark-grey-1);

    border-radius: .3em;
    font-weight: bold;

    padding: .2em .6em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .4em;

}

.btn-file-link:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
}

.btn-file-link:visited { color: var(--dark-black-1);}


.img-btn-file-link { width: 1em; }



/* ------------------------------------------------------- */
/* Main Card Layout - Reposiory Layout Container 
/* ------------------------------------------------------- */
.file-card-repo-layout-container {

   padding: 0em .8em 1.6em .8em;

}

.file-card-repo-clone-txt-layout { 

    color: var(--light-white-1);
    font-weight: bold;

    text-decoration: underline;

   
}

.file-card-ssh-link-layout {

    padding-top: .8em;

    display: flex;
    align-items: center;
    column-gap: .8em;
}

.file-card-ssh-box-layout { 
    
    font-weight: bold;

    padding: 0em .3em;
    border-radius: .3em;

    color: var(--dark-black-1);
    background-color: var(--dark-grey-1);

}

.file-card-ssh-link {

    /* background-color: red; */

    word-break: break-all;
}













/* ---------------------------------------------------- */
/* Footer Content  
/* ---------------------------------------------------- */

.footer-content {

    font-size: 1rem;

    background-color: var(--dark-black-1);

    border-top: .25em solid var(--light-brown-3);
    padding: 2em .8em;

    /* margin-top: 1.6em; */

    border-radius: 0em 0em 1em 1em;

    display: flex;
    align-items: center;

    column-gap: .6em;


}

.img-footer-content { height: 6.4em; }



/* ------------------------------------------------ */
/* Content > Card About 
/* ------------------------------------------------ */

/* .img-me {

    min-width: 12em;
    max-width: 36em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */