/* ----------------------------------------------------------- 

    >> main-docs-handlings.css  
    
    | Define all css radio / checkbox / hover / unshown / show
    | handlings which we only need in our main docs card

-------------------------------------------------------------- */




/* ------------------------------------------------------------------- */
/* Unshown Radio & Checkboxes 
/* ------------------------------------------------------------------- */

/* unshown radio main nav docs & unshown checkbox nav docs audio */
input#radio-my-main-nav-topic-docs-web-app-dev , 
input#radio-my-main-nav-topic-docs-data-science ,
input#radio-my-main-nav-topic-docs-backend-co ,
input#radio-my-main-nav-topic-docs-tech-tools ,
input#chk-mp3-docs { 
    
    display: none;

}

/* unshown default 1 img of man nav docs audio ( pause img ) */
#js-lbl-mp3-docs > img:nth-of-type(2) { display: none; }


/* ---------------------------------------------------------------------------------------------------- */
/* [Checked/Unchecked] - Main Nav Docs & Audio - Styling 
/* ---------------------------------------------------------------------------------------------------- */

/* if checked unshown white img / unshown play audio img */
input#radio-my-main-nav-topic-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-web-app-dev > img:nth-of-type(1), 
input#radio-my-main-nav-topic-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-data-science > img:nth-of-type(1),
input#radio-my-main-nav-topic-docs-backend-co:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-backend-co > img:nth-of-type(1),
input#radio-my-main-nav-topic-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-tech-tools > img:nth-of-type(1),
input#chk-mp3-docs:checked ~ #my-main-container #js-lbl-mp3-docs > img:nth-of-type(1) {

    display: none;
}

/* if checked show black img / show pause audio img */
input#radio-my-main-nav-topic-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-web-app-dev > img:nth-of-type(2), 
input#radio-my-main-nav-topic-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-data-science > img:nth-of-type(2),
input#radio-my-main-nav-topic-docs-backend-co:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-backend-co > img:nth-of-type(2),
input#radio-my-main-nav-topic-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-tech-tools > img:nth-of-type(2),
input#chk-mp3-docs:checked ~ #my-main-container #js-lbl-mp3-docs > img:nth-of-type(2) {

    display: block;
}


/* if checked one of 4 main nav radio docs */
input#radio-my-main-nav-topic-docs-web-app-dev:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-web-app-dev, 
input#radio-my-main-nav-topic-docs-data-science:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-data-science ,
input#radio-my-main-nav-topic-docs-backend-co:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-backend-co ,
input#radio-my-main-nav-topic-docs-tech-tools:checked ~ #my-main-container #trigger-lbl-radio-my-main-nav-topic-docs-tech-tools {

    background-color: var(--light-brown-3);
}


/* if checked audio of docs then be red for is playing */
input#chk-mp3-docs:checked ~ #my-main-container #js-lbl-mp3-docs {

    background-color: var(--medium-red-3);
}





/* -------------------------------------------------------------------------------------------------------------------------------- */
/* [Checked/Unchecked] - Main Nav Topics Docs  - Handling ( web app dev , data sciecne , backend co , tech tools )
/* -------------------------------------------------------------------------------------------------------------------------------- */

/* Default all filter container unshown */
#trigger-nav-topic-filter-docs-web-app-dev ,
#trigger-nav-topic-filter-docs-data-science ,
#trigger-nav-topic-filter-docs-backend-co , 
#trigger-nav-topic-filter-docs-tech-tools {

    display: none;
}


/* if checked than show the right filter container */
input#radio-my-main-nav-topic-docs-web-app-dev:checked ~ #my-main-container #trigger-nav-topic-filter-docs-web-app-dev ,
input#radio-my-main-nav-topic-docs-data-science:checked ~ #my-main-container #trigger-nav-topic-filter-docs-data-science,
input#radio-my-main-nav-topic-docs-backend-co:checked ~ #my-main-container #trigger-nav-topic-filter-docs-backend-co ,
input#radio-my-main-nav-topic-docs-tech-tools:checked ~ #my-main-container #trigger-nav-topic-filter-docs-tech-tools {

    display: grid;
}



/* -------------------------------------------------------------------------------------------------------------------------------- */
/* [Checked/Unchecked] - Main Nav Topics Filter - Styling ( many filter items  )
/* -------------------------------------------------------------------------------------------------------------------------------- */

/* default unshown all docs radio topic filters */
input[id^="radio-my-main-nav-topic-filter-docs"] {

    display: none;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Topic - Web App Entwicklung                                                                                     */
/* --------------------------------------------------------------------------------------------------------------- */
input#radio-my-main-nav-topic-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-web-frameworks ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-programming ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-html-css ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-cms {

    background-color: var(--light-brown-3);
    border: 1px solid var(--light-brown-3);
    color: var(--dark-black-1);
}

input#radio-my-main-nav-topic-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-web-frameworks > .my-own-circle-outside ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-programming > .my-own-circle-outside,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-html-css > .my-own-circle-outside,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-cms > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);
}

input#radio-my-main-nav-topic-filter-docs-web-app-dev-web-frameworks:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-web-frameworks > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-programming > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-html-css:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-html-css > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-web-app-dev-cms:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-web-app-dev-cms > .my-own-circle-outside > .my-own-set-point {

    display: block;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Topic - Data Science                                                                                            */
/* --------------------------------------------------------------------------------------------------------------- */
input#radio-my-main-nav-topic-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-data-science-tools ,
input#radio-my-main-nav-topic-filter-docs-ds-math:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-math ,
input#radio-my-main-nav-topic-filter-docs-ds-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-programming ,
input#radio-my-main-nav-topic-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-ml-ki {

    background-color: var(--light-brown-3);
    border: 1px solid var(--light-brown-3);
    color: var(--dark-black-1);
}

input#radio-my-main-nav-topic-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-data-science-tools > .my-own-circle-outside ,
input#radio-my-main-nav-topic-filter-docs-ds-math:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-math > .my-own-circle-outside,
input#radio-my-main-nav-topic-filter-docs-ds-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-programming > .my-own-circle-outside,
input#radio-my-main-nav-topic-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-ml-ki > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);
}

input#radio-my-main-nav-topic-filter-docs-ds-data-science-tools:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-data-science-tools > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-ds-math:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-math > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-ds-programming:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-programming> .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-ds-ml-ki:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-ds-ml-ki > .my-own-circle-outside > .my-own-set-point {

    display: block;
}

/* -------------------------------------------------------- */
/* Topic - Backend & Co                                     */
/* -------------------------------------------------------- */

/* dont need */

/* -------------------------------------------------------- */
/* Topic - Tech Tools                                       */
/* -------------------------------------------------------- */
input#radio-my-main-nav-topic-filter-docs-tt-dev:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-dev ,
input#radio-my-main-nav-topic-filter-docs-tt-office:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-office ,
input#radio-my-main-nav-topic-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-multimedia  {

    background-color: var(--light-brown-3);
    border: 1px solid var(--light-brown-3);
    color: var(--dark-black-1);
}

input#radio-my-main-nav-topic-filter-docs-tt-dev:checked  ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-dev > .my-own-circle-outside ,
input#radio-my-main-nav-topic-filter-docs-tt-office:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-office > .my-own-circle-outside,
input#radio-my-main-nav-topic-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-multimedia > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);
}

input#radio-my-main-nav-topic-filter-docs-tt-dev:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-dev > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-tt-office:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-office > .my-own-circle-outside > .my-own-set-point ,
input#radio-my-main-nav-topic-filter-docs-tt-multimedia:checked ~ #my-main-container #trigger-lbl-my-main-nav-topic-filter-item-docs-tt-multimedia > .my-own-circle-outside > .my-own-set-point {

    display: block;
}