/* ----------------------------------------------------------- 

    >> font-sizes.css  
    
    | Defines all font sizes which we used on this webpage

-------------------------------------------------------------- */



/* ------------------------------------------------------------------------ */
/* Small Font Sizes 
/* ------------------------------------------------------------------------ */

.font-size-0-75em { font-size: .75em; }
.font-size-0-85em { font-size: .85em; }
.font-size-0-88em { font-size: .88em; }
.font-size-0-90em { font-size: .90em; }


/* ------------------------------------------------------------------------ */
/* Medium Font Sizes 
/* ------------------------------------------------------------------------ */

.font-size-1em { font-size: 1em; }
.font-size-1-2em { font-size: 1.2em; }

/* ------------------------------------------------------------------------ */
/* Large Font Sizes 
/* ------------------------------------------------------------------------ */