/* ----------------------------------------------------------- 

    >> padd-margin.css  
    
    | Defines all default padding & margin sizes 

-------------------------------------------------------------- */



/* ------------------------------------------------------------------- */
/* Padding 
/* ------------------------------------------------------------------- */


/* ------------------------------------------ */
/* [1/?] - Same Size 
/* ------------------------------------------ */

/* left & right */
.padd-lr-0-3em { padding: 0em .3em }
.padd-lr-0-5em { padding: 0em .5em } 
.padd-lr-0-8em { padding: 0em .8em } 

/* top & bottom */
.padd-tb-0-1em { padding: .1em 0em }
.padd-tb-0-3em { padding: .3em 0em }
.padd-tb-0-5em { padding: .5em 0em } 
.padd-tb-0-8em { padding: .8em 0em } 

.padd-tb-1em { padding: 1em 0em } 
.padd-tb-1-2em { padding: 1.2em 0em } 
.padd-tb-1-5em { padding: 1.5em 0em } 

/* ( left & right ) & ( top & bottom ) */
.padd-tb-1em-lr-0-3em { padding: 1em .3em; }
.padd-tb-0-8em-lr-0-3em { padding: .8em .3em; }
.padd-tb-0-6em-lr-0-3em { padding: .6em .3em; }

/* ------------------------------------------ */
/* [2/?] - One Size
/* ------------------------------------------ */

/* top */
.padd-t-0-1em { padding-top: .1em; }
.padd-t-0-3em { padding-top: .3em; }
.padd-t-0-6em { padding-top: .6em; }
.padd-t-0-8em { padding-top: .8em; }

.padd-t-1em { padding-top: 1em; }
.padd-t-1-2em { padding-top: 1.2em; }
.padd-t-1-5em { padding-top: 1.5em; }

/* bottom */
.padd-b-0-3em { padding-bottom: .3em; }
.padd-b-0-6em { padding-bottom: .6em; }
.padd-b-0-8em { padding-bottom: .8em; }
.padd-b-1em { padding-bottom: 1em; }
.padd-b-1-2em { padding-bottom: 1.2em; }
.padd-b-1-5em { padding-bottom: 1.5em; }



/* ------------------------------------------ */
/* [3/?] - Different Size 
/* ------------------------------------------ */

/* top & bottom */
.padd-t-1m-b-0-3em { padding-top: 1em; padding-bottom: .3em;}
.padd-t-1-2em-b-0-3em { padding-top: 1.2em; padding-bottom: .3em;}
.padd-t-1-8em-b-1-2em { padding-top: 1.8em; padding-bottom: 1.2em;}

/* left & right -> Different Size */
.padd-tb-1-6em-lr-0-8em {  padding: 1.6em .8em; }





















/* ------------------------------------------------------------------- */
/* Margin
/* ------------------------------------------------------------------- */


/* ------------------------------------------ */
/* Same Size 
/* ------------------------------------------ */

/* left & right */

/* top & bottom */
.marg-tb-0-3em { margin: .3em 0em }
.marg-tb-0-5em { margin: .5em 0em } 
.marg-tb-0-8em { margin: .8em 0em } 


/* ------------------------------------------ */
/* [2/?] - One Size
/* ------------------------------------------ */


/* bottom */

.marg-b-0-2em { margin-bottom: .2em; }
.marg-b-0-3em { margin-bottom: .3em; }
.marg-b-0-6em { margin-bottom: .6em; }
.marg-b-0-8em { margin-bottom: .8em; }
.marg-b-1em { margin-bottom: 1em; }

/* ------------------------------------------ */
/* Different Size 
/* ------------------------------------------ */

/* top & bottom */
.marg-t-0-6em-b-0-3em { margin-top: .6em; margin-bottom: .3em;}
.marg-t-0-8em-b-0-4em { margin-top: .8em; margin-bottom: .4em;}