/* --------------------------------------------

    >> text-styles.css 

    | Default CSS Style for all text styles 
    | which u will be often use

---------------------------------------------- */

/* ---------------------------------------------------- */
/* Text Bold , Italic  
/* ---------------------------------------------------- */

.txt-i { font-style: italic; }
.txt-b { font-weight: bold; }
.txt-u { text-decoration: underline; }


/* ---------------------------------------------------- */
/* Text Color Marker 
/* ---------------------------------------------------- */


.txt-marker-light-brown { color: var(--light-brown-3); }
.txt-bold-marker-light-brown { font-weight:bold; color: var(--light-brown-3); }

/* ---------------------------------------------------- */
/* Text Orientation ( left side , bock quote , ... )
/* ---------------------------------------------------- */

.txt-a-c { text-align: center;  }


/* ---------------------------------------------------- */
/* Quotes 
/* ---------------------------------------------------- */

.txt-qoute { font-style: italic; }

.txt-quote-light-brown-3 { 
    font-style: italic;
    color: var(--light-brown-3); 
}


/* ---------------------------------------------------- */
/* Text Layout in progress , in planning , thin about 
/* ---------------------------------------------------- */

.txt-status-in-progress-layout,
.txt-status-in-planning-layout,
.txt-status-in-think-about-layout {

   border-radius: .2em;
   
   padding: 0em .5em;

    font-weight: bold;
    color: var(--dark-black-1);

    display: inline-block;

    font-size: .85em;

    margin-bottom: .2em;
    margin-top: .4em;
}

.txt-status-in-layout { 

    display: inline-flex;
    align-items: center;
    justify-content: space-between; 

    column-gap: .6em;

}

/* .txt-status-in-img-box {

    padding: 0em 0em;
} */

.img-txt-status-in { width: 1em; }

.keyframe-anim-rotate {

    animation: anim-circle-img-txt-status-in 4s linear infinite;
}

/* Keyframe to circle icon */
@keyframes anim-circle-img-txt-status-in {
    
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }

}


.txt-status-in-progress-layout { background-color: var(--medium-red-3); }

.txt-status-in-planning-layout { background-color: rgb(218, 218, 31); }

.txt-status-in-think-about-layout { background-color: #424949; color: var(--medium-grey-3); }





/* ------------------------------------------------------------------------------------------------------------------- */
/* Text Colors 
/* ------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------- */
/* [1/3] - Light Colors
/* ------------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------------- */
/* [2/3] - Medium Colors
/* ------------------------------------------------------------------------------- */


/* ---------------------------------------------------*/
/* Green 
/* ---------------------------------------------------*/


/* ---------------------------------------------------*/
/* Yellow
/* ---------------------------------------------------*/


/* ---------------------------------------------------*/
/* Red 
/* ---------------------------------------------------*/

.txt-color-medium-red-3 { color: var(--medium-red-3); }


/* ---------------------------------------------------*/
/* Grey 
/* ---------------------------------------------------*/

.txt-color-medium-grey-1 { color: var(--medium-grey-1); }
.txt-color-medium-grey-2 { color: var(--medium-grey-2); }
.txt-color-medium-grey-3 { color: var(--medium-grey-3); }



/* ------------------------------------------------------------------------------- */
/* [3/3] - Dark Colors
/* ------------------------------------------------------------------------------- */