/* ----------------------------------------------------------- 

    >> font-sizes.css  
    
    | Defines all font sizes which we used on this webpage

-------------------------------------------------------------- */



/* ------------------------------------------------------------------------ */
/* [1/3] - Small Font Sizes 
/* ------------------------------------------------------------------------ */

.font-size-0-65em { font-size: .65em; }
.font-size-0-75em { font-size: .75em; }
.font-size-0-85em { font-size: .85em; }
.font-size-0-88em { font-size: .88em; }
.font-size-0-90em { font-size: .90em; }
.font-size-0-95em { font-size: .95em; }

/* ------------------------------------------------------------------------ */
/* [2/3] - Medium Font Sizes 
/* ------------------------------------------------------------------------ */

.font-size-1em { font-size: 1em; }
.font-size-1-05em { font-size: 1.05em; }
.font-size-1-08em { font-size: 1.08em; }
.font-size-1-1em { font-size: 1.1em; }

.font-size-1-2em { font-size: 1.2em; }
.font-size-1-3em { font-size: 1.3em; }
.font-size-1-4em { font-size: 1.4em; }
.font-size-1-5em { font-size: 1.5em; }
.font-size-1-8em { font-size: 1.8em; }

/* ------------------------------------------------------------------------ */
/* [3/3] - Large Font Sizes 
/* ------------------------------------------------------------------------ */

.font-size-2em { font-size: 2em; }
.font-size-2-1em { font-size: 2.1em; }
.font-size-2-2em { font-size: 2.2em; }
.font-size-2-3em { font-size: 2.3em; }
.font-size-2-4em { font-size: 2.4em; }
.font-size-2-5em { font-size: 2.5em; }

.font-size-2-8em { font-size: 2.8em; }
.font-size-3em { font-size: 3em; }