/* --------------------------------------------

    >> procent-sizes.css 

    | Default procent sizes which will be 
    | often used 

---------------------------------------------- */


/* ------------------------------------------------------ */
/*  width & height
/* ------------------------------------------------------ */

.width-100p { width: 100%; }
.width-80p { width: 80%; }
.width-50p { width: 50%; }


.height-100p { height: 100%; }
.height-80p { height: 80%; }
.height-50p { height: 50%; }