/* ----------------------------------------------------------- 

    >> keyframe-animations.css  
    
    | Defines all often used animation on this webpage 
    | e.g rotation etc.

-------------------------------------------------------------- */




/* ---------------------------------------------------------------- */
/* Keyframe - Rotation
/* ---------------------------------------------------------------- */

@keyframes anim-360-rotation {

    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }    
}

.keyframe-anim-360-rotation-4s-linear-infinity { 
    animation: anim-360-rotation 4s linear infinite;
}

/* ---------------------------------------------------------------- */
/* Keyframe - Up & Dpwm
/* ---------------------------------------------------------------- */

@keyframes up-and-down {

    from{ padding-top: .4em; }
    to{ padding-top: -.6em; }    
}

.keyframe-up-and-down-4s-linear-infinity {
    animation: up-and-down .6s ease infinite;
}