/* ----------------------------------------------------------- 

    >> template-main-info-card-layout.css  
    
    | Defines oure info card layout for
    | our all arts of info perspectives
    | e.g pdf info card , project github info card , 
    | e.g video list info card , ... 

-------------------------------------------------------------- */



/* ---------------------------------------------------------------------- */
/* Info Ressource Card  
/* ---------------------------------------------------------------------- */


.info-ressource-card {

    /* Mobile Width Version */
    width: 90%;
    /* min-width: 24em; */


    background-color: var(--dark-black-1);

    border-radius: .8em;
   
}


.info-ressource-card:hover {

    transition: all .3s;

    /* transform: scale(1.03); */

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(80, 80, 80, 0.8) 0px 4px 12px; */

    box-shadow: rgba(217, 191, 152, .9) 0px 1px 4px,
                rgb(176, 176, 176) 0px 0px 0px 4px;
    
    
}


/* ----------------------------------------------------------------------------------------- */
/* [1/2] - Card Header 
/* ----------------------------------------------------------------------------------------- */


.info-ressource-card-header {

    font-size: .90em;

    height: 3.3em;
    padding: 0em 1em;
    
    /* background-color: var(--dark-grey-3); */
    /* background-color: var(--black); */
    background-color: var(--dark-black-1);
    
    border-radius: .8em .8em 0em 0em;
 
}

.info-ressource-card-header-number-box {

    /* height: 1.5em; */
    padding: 0em .4em;

    font-weight: bold;
    line-height: 1.4em;

    color: var(--dark-black-1);
    /* background-color: var(--light-brown-3); */
    background-color: rgba(217, 191, 152, .9);
   
    border-radius: .2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}




/* ----------------------------------------------------------------------------------------------------- */
/* [2/2] - Card Main 
/* ----------------------------------------------------------------------------------------------------- */

.info-ressource-card-main { padding: .6em 1em 1.3em 1em; }

   
    

/* ------------------------------------------------------- */
/* [Container] - In Progress Status
/* ------------------------------------------------------- */



   







/* --------------------------------------------------------------------- */
/* [Container] - Float IMG & Hashtags ( PDFs , ... )
/* --------------------------------------------------------------------- */


.img-float-info-ressource-card-main {

    height: 7.6em;
    
    float: left;
    
    margin-right: .8em;
    margin-bottom: .5em;

    border-radius: .3em;
    
    /* box-shadow: rgb(255 0 0) 0px 0.7px 1px 0px, rgb(0 118 235) 0px 0px 0px 1px; */
    box-shadow: 0 0 .4em #424949;

}


/* --------------------------------------------------------------------- */
/* [Container] - Max Width IMG & Hashtags ( GitHub Projects , ... )
/* --------------------------------------------------------------------- */


.img-projects-info-ressource-card-main {

    height: 9.3em;
    width: 100%;

    border-radius: .3em;
    
    /* box-shadow: rgb(255 0 0) 0px 0.7px 1px 0px, rgb(0 118 235) 0px 0px 0px 1px; */
    box-shadow: 0 0 .4em #424949;
    
}





/* ----------------------------------------- */
/* Hashtags Layouts ( float , projects )     */
/* ----------------------------------------- */
.hashtag ,
.float-hashtag {

    /* font-size: .90em; */

    padding: 0em .4em;
    display: inline-block;
   
    border-radius: .3em;

    font-style: italic;

    /* color:var(--medium-grey-3); */
    color: var(--dark-grey-1);
  
    /* background-color: var(--dark-grey-3); */
    background-color: var(--dark-grey-5);
   
}

.float-hashtag {

    margin-bottom: .3em;
    margin-right: .2em;

    float:left;

}









/* --------------------------------------------------------------------- */
/* [Container] - File List  
/* --------------------------------------------------------------------- */


.info-ressource-card-main-file-list {

    border-top: 1px solid rgba(151, 154, 154 , .6);
    border-bottom: 1px solid rgba(151, 154, 154 , .6);

}



/* -------------------------------------------------- */
/* Optional - File List Radio Container               */
/* -------------------------------------------------- */
.info-ressource-card-main-radio-file-list {

    border-bottom: 1px solid rgba(151, 154, 154 , .6);

}


/* label of radio */
.lbl-radio-info-ressource-card-main {

    border-radius: .3em;

    font-weight: bold;

    padding: .2em .6em;

    color: var(--dark-grey-1);
    background-color: var(--dark-grey-5);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(245, 245, 245, 0.1) 0px 0px 0px 1px inset;
    
    cursor: pointer;
}

.lbl-radio-info-ressource-card-main:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
    color: var(--dark-black-1);
}

.lbl-radio-info-ressource-card-main:hover > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);

}

.lbl-radio-info-ressource-card-main:hover > .my-own-circle-outside > .my-own-set-point {

    display: block;

}


/* ----------------------------------------------------------------- */
/* File List Container 
/* ----------------------------------------------------------------- */

.info-ressource-card-main-file-list-item {

    padding: 1em .6em 1em .6em;

    border-radius: .3em;

    background-color: var(--dark-grey-5);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(245, 245, 245, 0.1) 0px 0px 0px 1px inset;

}


/* --------------------------------------------------- */
/* IMG File Item 
/* --------------------------------------------------- */
.img-file-list-item-info-ressource-card-main { 

    width: 5.5em;
    height: 4em;

    border-radius: .2em;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
                rgb(51, 51, 51) 0px 0px 0px 3px;

}

