/* ----------------------------------------------------------- 

    >> main.css  
    
    | Our default main layout style which we used in our
    | webpage 

-------------------------------------------------------------- */

#my-main-container {

    /* because of fixed header */
    margin-top: 4.5em;

    /* is our parent position to anker backgrounds e.g imgs , videos , ... */
    position: relative;
    top:0;

    /* background-color: yellow; */

  
}


/* ---------------------------------------------------------------------------------- */
/* Behind Background Page Container ( bg-color , img , video )
/* ---------------------------------------------------------------------------------- */

.behind-background-page-container {

    z-index: -1;
    
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    height: 100%;   

}



/* ---------------------------------------------------------------------------------- */
/* [Margin] - Main Content Page ( docs , projects , about )
/* ---------------------------------------------------------------------------------- */

.main-content-page { 

    /* Desktop Version 1.3em .8em */
    margin: 1.3em 0em;
    /* padding: 0em .8em; */
    /* background-color: red; */

    display: grid;
    row-gap: 2em;
    /* justify-items: center; */

    width: 95%;
    /* background-color: red; */
}





/* ---------------------------------------------------- */
/* Main Card Layout
/* ---------------------------------------------------- */

#main-card-layout {

    /* margin: 0em 1em; */

    width: 90%;

    font-size: .85em;

    color: var(--medium-grey-3);
    /* background-color: var(--dark-black-1); */
    /* background-color: red; */
    /* background-color: blue; */

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;

    row-gap: 1.5em;
    column-gap: 1.5em;

}




/* ----------------------------------------------------------- */
/* No JS Info - Container 
/* ----------------------------------------------------------- */


.no-js-info-container {

    font-size: .85em;

    min-width: 10em;
    max-width: 22em;

    margin: .8em;

    border-radius: .3em;

    background-color: var(--medium-grey-3);
    color:var(--dark-black-1);
    /* font-weight: bold; */

    line-height: 1.4em;

    padding: .8em;

}

.img-no-js { width: 2.3em; }

.img-me-no-js { height: 6em; }















































