/* ----------------------------------------------------------- 

    >> main-nav-template.css  
    
    | Defines our main nav 

-------------------------------------------------------------- */



/* ----------------------------------------------------------------- */
/* [1/2] - Nav Container 
/* ----------------------------------------------------------------- */


/* -------------------------------- */
/* Nav 
/* -------------------------------- */
.main-nav-topic-container {

    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 2.8em;

    border-bottom: .25em solid var(--light-brown-3);


}

.main-nav-topic-container > label:nth-of-type(1) ,
.main-nav-topic-container > label:nth-of-type(2) ,
.main-nav-topic-container > label:nth-of-type(3) ,
.main-nav-topic-container > label:nth-of-type(4)   {

    border-right: .1em solid var(--medium-grey-3); 
}

.main-nav-topic-container > label:nth-of-type(1) { border-top-left-radius: .3em; } 
.main-nav-topic-container > label:nth-of-type(5) { border-top-right-radius: .3em; }





/* -------------------------------- */
/* Nav Label & Nav Audio Label
/* -------------------------------- */

.lbl-main-nav-topic ,
.lbl-main-nav-topic-audio {

    padding: .8em;

    color:var(--light-white-2);

    cursor: pointer;
    
}

/* lbl-main-nav-topic-filter-audio */

.lbl-main-nav-topic:hover ,
.lbl-main-nav-topic-audio:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
    color:var(--dark-black-1);
}

.lbl-main-nav-topic { background-color: var(--dark-black-1); }

.lbl-main-nav-topic-audio { background-color: var(--medium-grey-2); }
/* unshown default 1 img of man nav docs audio ( pause img ) */
#js-lbl-mp3-docs > img:nth-of-type(2) { display: none; }

.img-lbl-main-nav-topic { width: 1.6em; }


.lbl-txt-main-nav-topic {

     /* default in mobile version unshown */
     display: none;

     /* font-size: .85em; */
     
     line-height: 1em;
     font-weight: bold;

}


/* ------------------------------------------------- */
/* Handling & Hover | Main Nav 
/* ------------------------------------------------- */


/* default unshown black img | docs , projects */
.lbl-main-nav-topic > img:nth-of-type(2) { display: none;}


/* if hover show black img , else be default medium grey 3 img */
.lbl-main-nav-topic:hover > img:nth-of-type(1) { display: none; } 
.lbl-main-nav-topic:hover > img:nth-of-type(2) { display: block } 













/* ----------------------------------------------------------------- */
/* [2/2] - Filter Container 
/* ----------------------------------------------------------------- */

#main-nav-topic-filter-container {

    background-color: var(--dark-black-1);

    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
}


#main-nav-topic-filter-layout {

    display: none;
    /* will be set by js */
    /* display: grid; */
    grid: auto / 1fr 2.9em;

}

/* -------------------------------------------- */
/* Filter Label Container 
/* -------------------------------------------- */

#main-nav-topic-filter-label-container {

    /* border-bottom-left-radius: .8em; */

    padding: 1em .6em;

}

/* ---------------------------------------------------- */
/* Label Filter Topics   
/* ---------------------------------------------------- */


.lbl-main-nav-topic-filter  {

    /* Only 320px - 480px | very small mobile version */
    max-width: 9.5em;
    min-height: 1.5em;

    color: var(--dark-grey-1);
    font-weight: bold;

    /* Same Mobile Size like header nav */
    /* font-size: .85em; */

    padding: .3em .6em;

    border-radius: .3em;
    /* border-bottom-right-radius: 1em; */
    /* border: 1px solid var(--dark-grey-1); */

    background-color: var(--dark-grey-5);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(245, 245, 245, 0.1) 0px 0px 0px 1px inset;

 
    cursor: pointer;

    /* max-width: 9em; */
   
}

/* ------------------------------------------------------------ */
/* Hover & Styling & Handling | Label Filter Topics    
/* ------------------------------------------------------------ */
.lbl-main-nav-topic-filter:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
    color:var(--dark-black-1);
}

.lbl-main-nav-topic-filter:hover > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);

}

.lbl-main-nav-topic-filter:hover > .my-own-circle-outside > .my-own-set-point {

    display: block;

}

/* ------------------------------------------------------------ */
/* Default Checked Styling | Label Filter Topics   | Click Listener
/* ------------------------------------------------------------ */

/* unshown default */
input[id^="radio-m-n-t-filter-docs"] { display: none; }

/* if one of them is checked change style */
input[id^="radio-m-n-t-filter-docs-web-app-dev-web-frameworks"]:checked ~ #my-main-container #trigger-lbl-m-n-t-filter-item-docs-web-app-dev-web-frameworks ,
input[id^="radio-m-n-t-filter-docs-web-app-dev-programming"]:checked ~ #my-main-container #trigger-lbl-m-n-t-filter-item-docs-web-app-dev-programming {

    background-color: var(--light-brown-3);
    color:var(--dark-black-1);
}

input[id^="radio-m-n-t-filter-docs-web-app-dev-web-frameworks"]:checked ~ #my-main-container #trigger-lbl-m-n-t-filter-item-docs-web-app-dev-web-frameworks > .my-own-circle-outside ,
input[id^="radio-m-n-t-filter-docs-web-app-dev-programming"]:checked ~ #my-main-container #trigger-lbl-m-n-t-filter-item-docs-web-app-dev-programming > .my-own-circle-outside {

    border: .13em solid var(--dark-black-1);

}

input[id^="radio-m-n-t-filter-docs-web-app-dev-web-frameworks"]:checked ~ #my-main-container #trigger-lbl-m-n-t-filter-item-docs-web-app-dev-web-frameworks > .my-own-circle-outside  > .my-own-set-point ,
input[id^="radio-m-n-t-filter-docs-web-app-dev-programming"]:checked ~ #my-main-container #trigger-lbl-m-n-t-filter-item-docs-web-app-dev-programming > .my-own-circle-outside  > .my-own-set-point {

    display: block;
    
}
   
   
    



/* ---------------------------------------------------- */
/* [Info Filter Label] - Box 
/* ---------------------------------------------------- */

#main-nav-topic-filter-info-count-box {

    /* Same Mobile Size like header nav */
    /* font-size: .85em; */
    font-weight: bold;

    height: 1.5em;

    padding: .3em .6em;
    border-radius: .3em;
    background-color: var(--medium-grey-3);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(245, 245, 245, 0.1) 0px 0px 0px 1px inset;
}





/* ---------------------------------------------------- */
/* Label Drop Down  
/* ---------------------------------------------------- */

.lbl-drop-down-main-nav-topic-filter {

   
    background-color: var(--medium-grey-3);

    border-bottom-right-radius: .3em;

    border-left: .1em solid var(--medium-grey-3);

    cursor: pointer;
}

.lbl-drop-down-main-nav-topic-filter:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
}

.img-drop-down-main-nav-topic-filter { width: 1.3em; }




