/* ----------------------------------------------------------- 

    >> main-template-info-card.css  
    
    | Defines our complex file info card which
    | will be dyn. generate by java script & json 

-------------------------------------------------------------- */








/* ---------------------------------------------------------------------------------------- */
/* [Template] - Card Layout  
/* ---------------------------------------------------------------------------------------- */


.card-layout {

    /* width: 90%; */
   
    /* margin: .8em; */
    /* margin: 0em .8em; */
   
   
    border-radius: .8em;

    box-shadow: rgba(0, 0, 0, .8) 0px 4px 12px;

    background-color: var(--dark-black-1);

    /* min-width: 24em; */
    

}

.card-layout:hover {

    transition: all .2s;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(80, 80, 80, 0.8) 0px 4px 12px;

    /* transform: scale(1.03); */
    
}

.document-card-ul {

    /* margin:0em 0em 0em .8em; */
    padding: 0em 0em 0em 1.5em;

    display: inline;
    word-break: break-all;
    white-space: normal;
}

.document-card-ul > li {

     margin:0; padding:0; 
     
     word-break: break-all;
     white-space: normal;
    
    }

/* ----------------------------------------------------------------------------------------- */
/* [1/2] - Card Header 
/* ----------------------------------------------------------------------------------------- */

.card-layout-header {

    height: 3.3em;
    padding: 0em 1em;

    background-color: var(--dark-grey-3);
    background-color: var(--black);

    border-radius: .8em .8em 0em 0em;
    
}

.card-layout-number-box {

    height: 1.5em;
    padding: 0em .4em;

    /* background-color: var(--light-brown-3); */

    background-color: rgba(217, 191, 152, .9);

   
    
    color: var(--dark-black-1);

    font-weight: bold;

    border-radius: .3em;
}

.card-layout-not-finish-header {

    padding: 0em 1.3em;
    height: 2.8em;

    font-weight: bold;
    line-height: 1.4em;
}




/* ----------------------------------------------------------------------------------------------------- */
/* [2/2] - Card Main 
/* ----------------------------------------------------------------------------------------------------- */

/* [Optional] - in progress , in planning , thinking  
/* [Optional] - arrow up & arrow down for ( in progress , in planning , thinking  )

/* [Card - Title Container] - Categroy Header & Title Header 

/* [Card - Document Container ] - float Content
/* [Card - Project Container / Files Container ] - column container / column list container 

/* [Card - Button Panel Container ] - 1 or 2 Buttons 

/* [ Card - Repo Container ] - Link to Clone  */

.card-layout-main-content-container {

    padding: 1.3em;
    
}




/* ------------------------------------------------------- */
/* [Main Part] - Not Finished Status Container 
/* ------------------------------------------------------- */




.not-finished-status-txt-container {

    font-weight: bold;

    background-color: var(--dark-grey-3);
    height: 4em;
    border-radius: .3em;

    padding: 0em .8em;

    /* font-size: .85em; */
    text-align: center;

    line-height: 1.4em;

}







/* --------------------------------------------------------------------------- */
/* [Main Part] - Card Title Container 
/* --------------------------------------------------------------------------- */
   

/* title  */
.card-layout-main-info-develop-title {

    /* padding-top: .3em; */
    line-height: 1.3em;

    

    /* font-size: 1.1em; */
    font-weight: bold;

    color: var(--light-white-2);
    color:var(--medium-grey-3);

}


.project-3-imgs-layout {

    display: grid;
    grid: auto / auto 1fr 1fr;
    column-gap: .8em;
}

/* 2 img */

.project-2-imgs-layout {

    display: grid;
    grid: auto / auto 1fr;
    column-gap: .8em;
}


/* --------------------------------------------------------------------- */
/* [ Main Part] - IMG & Hash Styles & Mobile Radio Labels 
/* --------------------------------------------------------------------- */


/* img float left */  
.img-float-card-layout {

    height: 7.3em;
    float: left;

    margin-right: .8em;
    margin-bottom: .5em;

    border-radius: .3em;
    
    box-shadow: 0 0 .4em #424949;
    /* box-shadow: rgb(255 0 0) 0px 0.7px 1px 0px, rgb(0 118 235) 0px 0px 0px 1px; */

}


/* img max width */
.img-max-width-card-layout {

    height: 7.3em;
    width: 100%;

    border-radius: .3em;
    
    box-shadow: 0 0 .4em #424949;
    /* box-shadow: rgb(255 0 0) 0px 0.7px 1px 0px, rgb(0 118 235) 0px 0px 0px 1px; */

}

/* hashtags style */
.hashtag ,
.float-hashtag {

    /* font-size: .95em; */

    padding: 0em .3em;
    display: inline-block;
   
    border-radius: .3em;

    font-style: italic;
   
    /* border: 1px solid var(--dark-grey-3); */
    color: var(--dark-grey-1);
    /* color:var(--medium-grey-3); */

    background-color: var(--dark-grey-3);
    background-color: var(--dark-grey-5);
   
}

.float-hashtag {

    margin-bottom: .3em;
    margin-right: .1em;

}


/* ----------------------------------------- */
/* Card Item - List Content Container
/* ----------------------------------------- */

.card-item-list-content-container {

    padding: 1.3em 0em;

    border-top: 1px solid var(--dark-grey-3);
    border-bottom: 1px solid var(--dark-grey-3);

    display: grid;
    row-gap: .8em;
}


.file-card-link {

    /* font-weight: bold; */
    /* padding: .6em; */
    padding: .6em;
    border-radius: .3em;

    text-decoration: none;
    line-height: 1.4em;
    color: var(--light-grey-3);
}

.file-card-link:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
    color:var(--dark-black-1);
    /* font-weight: bold; */
}

.img-file-card-link { 

    width: 5.5em;
    height: 4em;

    border-radius: .2em;
}


/* -------------------------- */
/* Video Links Container 
/* -------------------------- */






/* ------------------------------------------------- */
/* File Card Link - GitHub Project
/* ------------------------------------------------- */

.file-card-link-github-box {


    width: 100%;

    display: grid;
    grid: 1fr auto / 1fr;
    
}

.file-card-link-github-link {

    height: 2em;
    padding: 0em .6em;

    text-decoration: none;

    font-weight: bold;
    color: var(--dark-black-1);
    background-color: var(--dark-grey-1);

    border-radius: .3em;
    

    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: .3em;

}


.file-card-link-github-link:hover {

    transition: .3s;
    background-color: var(--medium-grey-2);
}

.img-video-card-link { 

    width: 5.3em;
    height: 4em;

    border-radius: .3em;
    box-shadow: rgba(80, 80, 80, 0.8) 0px 4px 12px;
}


.link-list-card-layout {

    text-decoration: none;

    line-height: 1.4em;

    color: var(--dark-grey-1);
}

.link-list-card-layout:visited { color: var(--dark-grey-1); }


.link-list-card-layout:hover {

    transition: .3s;
    text-decoration: underline;
}





/* ----------------------------------------- */
/* Button Styling 
/* ----------------------------------------- */

.btn-file-link {

    padding: .2em .6em;

    text-decoration: none;

    color: var(--dark-black-1);
    background-color: var(--dark-grey-1);

    border-radius: .3em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .4em;

}

.btn-file-link:hover {

    transition: .3s;
    background-color: var(--light-brown-3);
}

.btn-file-link:visited { color: var(--dark-black-1);}







/* ----------------------------------------------------------- */
/* [ Main Part] - Repo Container  
/* ----------------------------------------------------------- */

.file-card-repo-layout-container {

    padding: .8em .8em 1.3em .8em;
 
 }
 
 .file-card-repo-clone-txt-layout { 
 
     color: var(--light-white-1);
     font-weight: bold;
 
     text-decoration: underline;
 
    
 }
 
 .file-card-ssh-link-layout {
 
     padding-top: .8em;
 
     display: flex;
     align-items: center;
     column-gap: .8em;
 }
 
 .file-card-ssh-box-layout { 
     
     font-weight: bold;
 
     padding: 0em .3em;
     border-radius: .3em;
 
     color: var(--dark-black-1);
     background-color: var(--dark-grey-1);
 
 }
 
 .file-card-ssh-link {
 
     /* background-color: red; */
 
     word-break: break-all;
 }




/* ----------------------------------------------------------- */
/* [ Main Part] - Link List Container  
/* ----------------------------------------------------------- */

.link-list-container-card-layout {

    /* margin: 1.8em 0em 0em 0em; */
    padding: 1em 0em 1em 0em;

    border-top: 1px dashed var(--dark-grey-1);
    border-bottom: 1px dashed var(--dark-grey-1);

    display: grid;
    row-gap: 1em;
}


/* --------------------------------------------------------- */
/* Only Mobile Arrow Down 
/* --------------------------------------------------------- */

.trigger-only-mobile-arrow-down-card-layout { display: flex; }








